venv/
.venv/
bin/
lib/
include/
pyvenv.cfg
__pycache__/
*.pyc
.DS_Store
wound-cnn-clearer/data/
wound-cnn-clearer/weights/





computear-pipeline/data_test/
computear-pipeline/results_test/
computear-pipeline/data/data/
computear-pipeline/data/results/
