venv/
.venv/
bin/
lib/
include/
pyvenv.cfg
__pycache__/
*.pyc
.DS_Store
wound-cnn-clearer/data/
wound-cnn-clearer/weights/

seggpt-clearer/data/
seggpt-clearer/results/


epi-screener/data/
epi-screener/results/

kg/output/
kg/data/

frontend/data/

exp-module/data/
exp-module/results/




computear-pipeline/data_test/
computear-pipeline/results_test/
computear-pipeline/data/data/
computear-pipeline/data/results/
