certifi==2026.2.25
charset-normalizer==3.4.6
contourpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_contourpy_1769156069/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1773313889543/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1773137067435/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1770387778895/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1773245048386/work
idna==3.11
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1772885914204/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1773067285/work
lazy-loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1772817235966/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1772445072585/work
matplotlib==3.10.8
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1773839150/work/dist/numpy-2.4.3-cp314-cp314-macosx_11_0_arm64.whl#sha256=f544bf98e6477967163072aa0526f3da7b84116a4a1f86a96fd1f02ca5c2bf7d
opencv-python==4.13.0.92
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1771868307570/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pandas_1771409070/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1770794152/work
polars==1.39.3
polars-runtime-32==1.39.3
psutil==7.2.2
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
PyYAML==6.0.3
requests==2.32.5
scikit-image @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_scikit-image_1766684379/work/dist/scikit_image-0.26.0-cp314-cp314-macosx_11_0_arm64.whl#sha256=37eadd0efd90b88e3a5c15023b325b3d172b3baed1b40f26c54a67b9e6790ff9
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_scikit-learn_1766550871/work/dist/scikit_learn-1.8.0-cp314-cp314-macosx_11_0_arm64.whl#sha256=f97f0c5dee95bffcd8f6853f507cf27cddf27771a0ccf0eb0335633f369d040a
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1771879289976/work/dist/scipy-1.17.1-cp314-cp314-macosx_11_0_arm64.whl#sha256=2d10eb95c840ff2757c8f78f99efb7faa4a08c1b63f4033caaafbf08b11135fb
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
segment-anything==1.0
setuptools==82.0.1
shapely==2.1.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1764986090384/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1771952240620/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1772700953444/work
torch @ file:///Users/runnerx/miniforge3/conda-bld/libtorch_1772176411421/work
torchvision @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision_1769899193/work
torchvision-extra-decoders @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision-extra-decoders_1769805430/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1765836485979/work
tqdm==4.67.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
ultralytics==8.4.24
ultralytics-thop==2.0.18
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1770909177692/work
urllib3==2.6.3
